body {
  background: #87CEEB !important;
  margin:0;
}

.wrapper {
  margin-top: 80px;
  margin-bottom: 80px;
  display: block;
}

.form-signin {
  max-width: 600px;
  padding: 25px 45px 55px;
  margin: 0 auto;
  background-color: #fff;
  border: 1px solid rgba(0, 0, 0, 0.1);
}

.form-signin a{
  color:#000;
}
.form-signin .form-signin-heading,
.form-signin .checkbox {
  margin-bottom: 30px;
}
.form-signin .checkbox {
  font-weight: normal;
}
.form-signin .form-control {
  position: relative;
  font-size: 16px;
  height: auto;
  padding: 10px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.form-signin .form-control:focus {
  z-index: 2;
}
.form-signin input[type="text"] {
  margin-bottom: -1px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}
.form-signin input[type="password"] {
  margin-bottom: 20px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.icon-bar {
  width: 100%;
  background-color: #555;
  overflow: auto;
}

.icon-bar a {
  float: left;
  width: 20%;
  text-align: center;
  padding: 12px 0;
  transition: all 0.3s ease;
  color: white;
  font-size: 36px;
}

.icon-bar a:hover {
  background-color: #000;
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #555;
  color: white;
  text-align: right;
  padding: 10px 10px 10px 10px;
}

.footer a {
  color: #fff;
}

.name-bar{
  text-align:right;
  padding: 5px 5px 5px 5px;
  background-color: #b4b9c1;
  color: black;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
}

select {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  appearance: none;
  outline: 0;
  box-shadow: none;
  border: 0 !important;
  background: #347AB6;
  background-image: none;
}
/* Custom Select */
.select {
  position: relative;
  display: block;
  width: 100%;
  height: 3em;
  line-height: 3;
  background: #347AB6;
  overflow: hidden;
  border-radius: .25em;
}
select {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0 0 0 .5em;
  color: #fff;
  cursor: pointer;
}
select::-ms-expand {
  display: none;
}
/* Arrow */
.select::after {
  content: '\25BC';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  padding: 0 1em;
  background: #347AB6;
  pointer-events: none;
}
/* Transition */
.select:hover::after {
  color: #ffff;
}
.select::after {
  -webkit-transition: .25s all ease;
  -o-transition: .25s all ease;
  transition: .25s all ease;
}
.bar {
  fill: #000;
}

.bar:hover {
  fill: slateblue;
}

.axis-x path {
  display: none;
}

.axis text {
  font-weight: bold;
}

.age-dropdown {
  float: right;
}

.line {
  stroke: #E4002B;
  fill: none;
  stroke-width: 3;
}

.axis path,
.axis line {
  fill: none;
  stroke: black;
  shape-rendering: crispEdges;
}

.axis text {
  font-size: 10px;
  font-family: sans-serif;
}

.text-label {
  font-size: 10px;
  font-family: sans-serif;
}

.dot {
  stroke: #293b47;
  fill: #7A99AC
}
.regression {
  stroke-width: 2px;
  stroke: red;
  stroke-dasharray: 10,5;
}
.equation {
  font-size: 12px;
  margin-top: 10px;
  text-align: center;
}

/*



*/
/*!
 * Start Bootstrap - Simple Sidebar HTML Template (http://startbootstrap.com)
 * Code licensed under the Apache License v2.0.
 * For details, see http://www.apache.org/licenses/LICENSE-2.0.
 */

/* Toggle Styles */

#wrapper {
  padding-right: 0;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

#wrapper.toggled {
  padding-right: 250px;
}

#sidebar-wrapper {
  z-index: 1000;
  position: fixed;
  right: 250px;
  width: 0;
  height: 40%;
  margin-right: -250px;
  overflow-y: auto;
  background: #b4b9c1;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
  /*border: 2px solid black;*/
}

#wrapper.toggled #sidebar-wrapper {
  width: 250px;
}

#page-content-wrapper {
  width: 100%;
  position: absolute;
  padding: 15px;
}

#wrapper.toggled #page-content-wrapper {
  position: absolute;
  margin-right: -250px;
}

/* Sidebar Styles */

.sidebar-nav {
  position: absolute;
  top: 0;
  width: 250px;
  margin: 0;
  padding: 0;
  list-style: none;
}

.sidebar-nav li {
  text-indent: 20px;
  line-height: 40px;
}

.sidebar-nav li a {
  display: block;
  text-decoration: none;
  color: #000;
}

.sidebar-nav li a:hover {
  text-decoration: none;
  color: #000;
  background: rgba(255,255,255,0.2);
}

.sidebar-nav li a:active,
.sidebar-nav li a:focus {
  text-decoration: none;
}

.sidebar-nav > .sidebar-brand {
  height: 65px;
  font-size: 18px;
  line-height: 60px;
}

.sidebar-nav > .sidebar-brand a {
  color: #000;
}

.sidebar-nav > .sidebar-brand a:hover {
  color: #000;
  background: none;
}

@media(min-width:768px) {
  #wrapper {
      padding-right: 250px;
  }

  #wrapper.toggled {
      padding-right: 0;
  }

  #sidebar-wrapper {
      width: 250px;
  }

  #wrapper.toggled #sidebar-wrapper {
      width: 0;
  }

  #page-content-wrapper {
      padding: 20px;
      position: relative;
  }

  #wrapper.toggled #page-content-wrapper {
      position: relative;
      margin-right: 0;
  }
}

.tooltip {
  background-color: rgba(187,187,187, 0.7);
  border-radius: 5px;
  height: 18px;
  opacity: 0;
  pointer-events: none;
  position: absolute;
  text-align: center;
}
